<h1>Here's the list of articles on my blog</h1>
<ul id="articles">
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article %></li>
  <% end %>
</ul>

<h2><%= link_to "Create new post", new_article_path, class: "new_article" %><h2>
